<div class="m-5">
    <div class="form-group">
      <label >Book Title</label>
      <input [(ngModel)]="newBook.title" type="text" class="form-control" placeholder="Spiderman">
    </div>
    <div class="form-group">
        <label >Date of publication</label>
        <input [(ngModel)]="newBook.pub_date" type="date" class="form-control">
    </div>
    

    <div class="form-group">
        <label>Authors</label>
        <select [multiple]="true" class="form-control" (ngModelChange)="getSelectedValue($event)" [(ngModel)]="selectedValue">
            <option *ngFor="let author of authors" [value]="author.pk">
              {{ author.first_name }} {{ author.last_name }}
              </option>
        </select>
      </div>

    <div class="form-group">
        <button type="submit" (click)="createBook()" class="btn btn-primary">Submit</button>
      </div>
    
</div>