<div class="d-inline-flex p-2 float-right">
    <form class="form-inline my-2 my-lg-0">
      <input [(ngModel)]="searchField" name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button (click)="getUsers()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>


  
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">pk</th>
        <th scope="col">username</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" >
        <th scope="row">{{user.pk}}</th>
        <td>{{user.username}}</td>
        <td><button class="btn btn-danger" (click)=(delete(user))> delete</button></td>
          
      </tr>
    </tbody>
  </table>
  
