<div class="d-inline-flex p-2 float-right">
    <form class="form-inline my-2 my-lg-0">
      <input [(ngModel)]="searchField" name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button (click)="findBooks()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">pk</th>
        <th scope="col">Title</th>
        <th scope="col">Authors</th>
        <th scope="col">PubDate</th>
        
        <div *ngIf="isLogged"><th scope="col"></th><th scope="col"></th></div>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <th>{{book.pk}}</th>
        <td>{{book.title}}</td>
        <td><p *ngFor="let author of book.authors">{{author.first_name}} {{author.last_name}}</p></td>
        <td>{{book.pub_date}}</td>
        <td>
          <div *ngIf="isLogged">

            <div *ngIf="!!book.rental; else notRented">
              <div *ngIf="!(book.rental.personWhoRent==userID); else elseBlock">
                <p>Someone else rented it</p>
              </div>
              <ng-template #elseBlock>
                <button class="btn btn-warning" (click)=(rentBack(book))> Rent Back</button>
              </ng-template>
  
  
            </div>
  
            <ng-template #notRented>
              <button class="btn btn-success" (click)=(rent(book))> Rent It</button>
            </ng-template>

          </div>

          


          </td>
          <div *ngIf="isLogged"><td><button class="btn btn-danger" (click)=(delete(book))> delete</button></td></div>
          
      
      </tr>

    </tbody>
  </table>