
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/books" routerLinkActive='active'>Books <span class="sr-only">(current)</span></a>
	  </li>
	  <div *ngIf="isAdmin">
		<li class="nav-item active">
			<a class="nav-link" routerLink="/addbook" routerLinkActive='active'>Add Book <span class="sr-only">(current)</span></a>
		  </li>
	  </div>
      

	  <div *ngIf="isAdmin">
		<li class="nav-item active">
			<a class="nav-link" routerLink="/users" routerLinkActive='active'>Users<span class="sr-only">(current)</span></a>
		  </li>
	  </div>

	  <div *ngIf="isAdmin">
		<li class="nav-item active">
			<a class="nav-link" routerLink="/adduser" routerLinkActive='active'>Add User<span class="sr-only">(current)</span></a>
		  </li>
	  </div>

	  <div *ngIf="!isLogged; else logoutBlock">
		<li class="nav-item active">
			<a class="nav-link" data-toggle="modal" data-target="#myModal" href="">Login<span class="sr-only">(current)</span></a>
		  </li>
	  </div>
	  
<ng-template #logoutBlock>
	<li class="nav-item active">
	<a class="nav-link" (click)="logout()" href="">Logout<span class="sr-only">(current)</span></a>
  </li></ng-template>
      
    </ul>
  </div>
</nav>




<div id="myModal" class="modal fade" style="display: none;">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<div>
				<div class="modal-header">				
					<h4 class="modal-title">Login</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				</div>
				<div class="modal-body">				
					<div class="form-group">
						<label>Username</label>
						<input [(ngModel)]="username" name="usrnm" type="text" class="form-control">
					</div>
					<div class="form-group">
						<div class="clearfix">
							<label>Password</label>
						</div>
						
						<input [(ngModel)]="password" name="pswd" type="password" class="form-control">
					</div>
				</div>
				<div class="modal-footer">
          <button (click)="logMeIn()" class="btn btn-primary pull-right" type="submit">Login</button>
				</div>
			</div>
		</div>
	</div>
</div>