<form class="m-5">
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input [(ngModel)]="username" name="usr" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
     </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input [(ngModel)]="password" name="pswd" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Confirm Password</label>
        <input [(ngModel)]="password2" name="pswd2" type="password" class="form-control" placeholder="Password">
      </div>
    
    <button type="submit" (click)="addUser()" class="btn btn-primary">Add User</button>
  </form>